*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:rgb(191, 131, 109);
    color: #333;
}
header{
    background: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10 px;
}
   
nav ul li {
    margin: 0 15px;

}
nav ul li a{
    color: white;
    text-decoration: none
    font-weight: bold;
}

nav ul li a.active, nav ul li a:hover{
    text-decoration:underline ;
}
.hero {
    text-align: center;
    padding: 100 px 20px;
    background: linear-gradient(to right,#00509e,#0099cc);
    color: white;
}
.hero h2 {
    margin-bottom: 15px;
}
.hero p {
    margin-bottom: 25px;
    font-size: 1.1em;
}
.hero.btn {
    display: inline-block;
    margin-top: 10px;
}
.btn{
    background: white;
    color: #00509e;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.events{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 40px;
}
.event-card{
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 20px;
    width: 300px;
    margin:15px;
}
.form-section{
    text-align: center;
    padding:40px;
}
form{
    display: inline-block;
    text-align: left;
}

label,input,select{
    display: block;
    margin:10px 0;
}

input,select{
    padding: 8px;
    width:250px;
}
footer{
    background:#003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}